---
layout: base.njk
---

<ul>
  {%- for post in collections.art -%}
    <li>
      <a href="{{post.url}}" style="display: grid; gap: 0.5em;">
        <span>{{ post.data.title }}</span>

        <img src="{{data.functions_host}}/.netlify/functions/{{ post.data.name }}/1" alt=""/>
      </a>
      </li>
  {%- endfor -%}
</ul>