<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{title}}</h1>

    {% for i in range(1, 51) %}
      <img 
        src="{{data.functions_host}}/.netlify/functions/{{ name }}/{{ i }}" 
        alt="An artwork procedurally generated using the algorithm {{ title }} and the seed {{ i }}."
      />
    {% endfor %}
  </body>
</html>