html {
  background-color: #eee;
}

svg,
img {
  background-color: #fff;
  max-height: 90vh;
  width: 31%;
  margin: 1%;
  box-sizing: border-box;

  &:first-child {
    width: 100%;
    margin: 0;
  }
}
